@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    place-content: center;
    background-image: url(../img/alexander-naglestad-MZbZQEx91Ek-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body:before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.09);
  opacity: 1;

}

section {
  display: grid;
  justify-content: center;
  align-items: center;
}

.wrapper {
    width: 380px;
    background: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    color: #d8d8d8;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(-135deg, #2a4972, #2b6472);
}

.wrapper form {
  padding: 10px 30px 50px 30px;
}

.wrapper form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.wrapper form .field input {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  border: 1px solid lightgray;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus,
.wrapper form .field input:valid {
  color: #4158d0;
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 17px;
  color: #999;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label {
  top: 0;
  color: #4158d0;
  background: white;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper form .pass-link {
  color: #4158d0;
  margin: 8px 0 0 10px;
}

.wrapper form .field input[type="submit"]{
  color: #fff;
  background: linear-gradient(-135deg, #2a4972, #2b6472);
  font-size: 18px;
  font-weight: 500;
  border: none;
  padding-left: 0;
  cursor: pointer;
  transition: all 0,3s ease;
  margin-bottom: 1rem;
}

.wrapper form .field input[type="submit"]:active {
  transform: scale(0.95);
}